<h1>{{ title }}</h1>
<nav>
    <ul>
        <li>
            <a href="/parents" class="navi">Parents</a>
        </li>
        <li>
            <a href="/kids" class="navi">Kids</a>
        </li>
    </ul>
</nav>
