<h1>{{ title }}</h1>
<hr>
<nav>
    <ul>
        <li>
            <a href="/action" class="navi">ACTION</a>
        </li>
        <li>
            <a href="/animation" class="navi">ANIMATION</a>
        </li>
        <li>
            <a href="/fantasy" class="navi">FANTASY</a>
        </li>
        <li>
            <a href="/family" class="navi">FAMILY</a>
        </li>
    </ul>
</nav>
